// It's highly recommended to change the default colors
// to match your app's branding.


// COLOR
$primary   : #EF5350;
$secondary : #757575;
$accent    : #9C27B0;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

// FONT
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

@import '~quasar-variables-styl'
